$indicator-size: 8px;
$indicator-size-hover: 12px;

.item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 10px;
  position: relative;
}

.indicator {
  border-radius: 50%;
  display: inline-block;
  border: 1px solid red;
  width: $indicator-size;
  height: $indicator-size;
}

.input {
  border-color: yellow;
  margin-right: 5px;
}

.output {
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }
}

.label {
  line-height: 0;
}
