//globals
$border-radius: 5px;

//inputs
$input-background: #fff;
$input-text-color: #495057;
$input-border-color: #ced4da;
$input-border-color-invalid: #dc3545;
$input-border-color-active: green;

//form-section
$form-section-background: rgba(0, 0, 0, 0.04);
