.modalWrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
}

.modal {
  min-width: 20%;
  padding: 10px;
  margin: 20px 0;
  background: #fff;
  overflow-y: auto;
  max-height: 90vh;
}

.title {
  font-weight: 400;
  margin-bottom: 10px;
}

:global {
  .modal-confirmation {
    .modal-footer {
      display: flex;
      margin-top: 10px;
      align-items: center;
      justify-content: center;
    }
  }
}
