.line {
  fill: none;
  stroke: #dadada;
  stroke-width: 2;
  box-shadow: 6px 6px 28px -2px rgba(0, 0, 0, 0.75);
  filter: drop-shadow(-5px -5px 5px #000);
}

.lineClickArea {
  cursor: pointer;
  fill: none;
  stroke: transparent;
  stroke-width: 15;
}

.lineClickArea:hover + .line,
.line:hover {
  cursor: pointer;
  stroke-width: 4;
}

.selected {
  stroke: red;
}
