$border-radius: 4px;
$background: rgba(#1f2324, 0.8);

.node {
  color: #fff;
  z-index: 9999;
  min-width: 150px;
  user-select: none;
  position: absolute;
  border-radius: 4px;
  display: inline-block;
  background-color: $background;
  border: 1px solid transparent;
  box-shadow: 6px 6px 28px -2px rgba(0, 0, 0, 0.4);
}

.broken {
  border-color: red;
}

.header {
  cursor: move;
  height: 23px;
  display: flex;
  font-size: 13px;
  padding-top: 3px;
  font-weight: 600;
  padding-left: 10px;
  letter-spacing: 1px;
  color: rgba(#fff, 0.8);
  border-bottom: 1px solid rgba(#353535, 0.5);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  &.disabled {
    background-color: #dadada;
  }
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.disabled {
  cursor: not-allowed;
}

.selected,
.dragging {
  border: 1px solid #666;
  box-shadow: 0 0 8px 3px #555;
}
